html {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  margin-right: 7%;
  margin-left: 7%;

}

main {
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 110px;
  padding: 0px;
}

section {
  display: flex;
  width: 70%;
  margin-left: 15px;
  margin-top: 0px;
  padding: 0px;
}


h1 {
  padding: 0;
  margin: 0;
  margin-top: 45px;
  font-family: Oswald;
  font-size: 41px;

}

h3 {
  display: block;
}

ul {
  font-family: Patrick Hand;
  font-size: 22px;
  columns: 2;
  list-style-type: none;
  color: #6B6B6B;
  line-height: 31px;
  margin-top: 36px;
  background-color: transparent;
}

button {
  display: flex;
  justify-content: center;
  font-family: News Cycle;
  font-size: 16px;
  color: white;
  height: 45px;
  width: 200px;
  background-color: rgba(189, 63, 25, 0.8);
  margin-top: 15px;
  margin-left: 35px;
  border-style: none;
}

footer {
  margin-top: 20px;
}

strong {
  margin-bottom: 20px;
}

hr {
  border: 0;
  height: 1px;
  width: 50%;
  background-color: #E6E6E6;
}

.mainLogo {
  display: block;
  margin: auto;
}

.strikethrough:checked + .strike {
 text-decoration: line-through;
}

.gradient {
  background-image: repeating-linear-gradient(45deg, transparent, transparent 2px, grey 2px, grey 2.828px);
  background-size: 4px 4px;
  height: 15px;
  width: 100%;
  margin-left: 0px;
}

.top {
  display: flex;
  align-items: center;
}

.delicious {
  font-family: Yellowtail;
  font-size: 42px;
  margin-top: 15px;
  align-items: flex-start;
}

.blog {
  font-family: Chathura;
  font-size: 20px;
  margin-left: 4px;
}

.date {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  font-family: Roboto Condensed;
  font-size: 13px;
  color: grey;
  margin-bottom: 25px;
}

.p2 {
  color: grey;
  text-indent: 30px;
}

#p3 {
  margin-top: 0;
  color: #5E5E5E;
  line-height: 12px;
}

#break {
  margin-top: 0px;
}

#block1 {
  display: block;
}
#creditImg {
  display: flex;
  height: 100px;
}

#headerGroup {
  display: flex;
  justify-content: flex-start;
}

#mainLogo {
  height: 45px;
  width: 42px;
}

#bList {
  background: url("pizza/list-bg.png");
  height: 305px;
  width: 100%;
  margin-bottom: 25px;
  margin-left: 0px;
}

#mCake {
  width: 100%;
}

#pint {
  margin-right: 8px;
}

#sp {
  height: 50px;
}

#van {
  font-weight: bold;
  font-size: 20px;
  color: black;
}

#copyright {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  color: #BDBDBD;
  font-size: 12px;
}

#para {
  text-align: center;
}

#title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 5px;
  align-items: center;
  height: 80px;
  line-height: 15px;
}

#hrThing {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

#sLogo {
  padding: 5px;
}

#enthusiast {
  line-height: 24px;
}
